.zLikeButton {
	position: relative;
	font-size: 1em;
	margin: 1em 0;
	display: flex;
	justify-content: start;
	align-items: center;
}
.likeCheck {
	visibility: hidden;
	top: 0;
	left: 0;
	position: absolute;
}
.likeLabel {
	font-size: 1.2em;
	width: 1em;
	height: 1em;
	vertical-align: middle;
	cursor: pointer;
	line-height: 1em;
	position: relative;
	margin: 0;	
}
/* .likeLabel::before {
	font-size: inherit;
	width: auto;
	height: auto;
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
} */
.likeCount {
	margin: 0;
	display: inline-block;
	font-size: 0.8em;
	line-height: 1.5em;/* 1.2/0.8 */
	vertical-align: middle;
	margin-left: 0.3em;
	color: #7F7F7F;
}
.hide-counter .likeCount {
	display: none;
}
.likeLabel:hover {
	animation: zlb-beat .25s infinite alternate;
}
.likeCheck:not(:checked) + .likeLabel {
	color: var(--z-color-inactive);	
}
.likeCheck:checked + .likeLabel {
	color: var(--z-color-active);
	will-change: font-size;
	animation: zlb-grow 1s cubic-bezier(.17, .89, .32, 1.49);
}
.likeCheck:checked + .likeLabel:hover {
	will-change: font-size;
	animation: zlb-grow 1s cubic-bezier(.17, .89, .32, 1.49), zlb-beat .25s infinite alternate;
}
/* @keyframes zlb-grow { 0%, 17.5% { font-size: 0.5em; } } */
@keyframes zlb-grow { 0%, 17.5% { transform: scale(0.5); } }
@keyframes zlb-beat { to { transform: scale(1.2); } }


@font-face {
    font-family: 'zLikeButtonFont';
    src:  url('fonts/zLikeButtonFont.eot?upha30');
    src:  url('fonts/zLikeButtonFont.eot?upha30#iefix') format('embedded-opentype'),
      url('fonts/zLikeButtonFont.ttf?upha30') format('truetype'),
      url('fonts/zLikeButtonFont.woff?upha30') format('woff'),
      url('fonts/zLikeButtonFont.svg?upha30#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.zlb-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'zLikeButtonFont' !important;
    /* speak: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-badge:before {
    content: "\e900";
}
.icon-book-reference:before {
    content: "\e901";
}
.icon-bookmark:before {
    content: "\e902";
}
.icon-bookmark-outline:before {
    content: "\e903";
}
.icon-compose:before {
    content: "\e904";
}
.icon-copy:before {
    content: "\e905";
}
.icon-date-add:before {
    content: "\e906";
}
.icon-dial-pad:before {
    content: "\e907";
}
.icon-document:before {
    content: "\e908";
}
.icon-document-add:before {
    content: "\e909";
}
.icon-edit-pencil:before {
    content: "\e90a";
}
.icon-heart:before {
    content: "\e90b";
}
.icon-home:before {
    content: "\e90c";
}
.icon-hour-glass:before {
    content: "\e90d";
}
.icon-inbox:before {
    content: "\e90e";
}
.icon-inbox-check:before {
    content: "\e90f";
}
.icon-inbox-download:before {
    content: "\e910";
}
.icon-inbox-full:before {
    content: "\e911";
}
.icon-light-bulb:before {
    content: "\e912";
}
.icon-link:before {
    content: "\e913";
}
.icon-list-add:before {
    content: "\e914";
}
.icon-location:before {
    content: "\e915";
}
.icon-lock-closed:before {
    content: "\e916";
}
.icon-lock-open:before {
    content: "\e917";
}
.icon-menu:before {
    content: "\e918";
}
.icon-mic:before {
    content: "\e919";
}
.icon-mood-happy-outline:before {
    content: "\e91a";
}
.icon-mood-happy-solid:before {
    content: "\e91b";
}
.icon-mood-neutral-outline:before {
    content: "\e91c";
}
.icon-mood-neutral-solid:before {
    content: "\e91d";
}
.icon-mood-sad-outline:before {
    content: "\e91e";
}
.icon-mood-sad-solid:before {
    content: "\e91f";
}
.icon-network:before {
    content: "\e920";
}
.icon-news-paper:before {
    content: "\e921";
}
.icon-notifications:before {
    content: "\e922";
}
.icon-notifications-outline:before {
    content: "\e923";
}
.icon-pin:before {
    content: "\e924";
}
.icon-portfolio:before {
    content: "\e925";
}
.icon-save-disk:before {
    content: "\e926";
}
.icon-star-full:before {
    content: "\e927";
}
.icon-tag:before {
    content: "\e928";
}
.icon-thumbs-down:before {
    content: "\e929";
}
.icon-thumbs-up:before {
    content: "\e92a";
}
.icon-time:before {
    content: "\e92b";
}
.icon-timer:before {
    content: "\e92c";
}
.icon-view-hide:before {
    content: "\e92d";
}
.icon-view-show:before {
    content: "\e92e";
}
.icon-volume-mute:before {
    content: "\e92f";
}
.icon-volume-off:before {
    content: "\e930";
}
.icon-volume-up:before {
    content: "\e931";
}
.icon-wallet:before {
    content: "\e932";
}